    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Outfit';
    }
    body, html{
      width: 100vw;
      min-height: 100vh;
      overflow: hidden;
      background-color: #000000;
      color: white;
    }
    header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
    }
    header h1{
      font-size: 23px;
      font-weight: 500;
    }
    .container-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height:90vh;
      text-align: center;
      
    }
    .time{
      width: 100%;
    }
    .mensagem h1{
      font-size: 22px;
      font-weight: 400;
      padding: 5px;
    }
    .mensagem p{
     color: #AEAEAE;
     font-size: 14px;
     font-weight: 500;
    }
    .icon{
      font-size: 50px;
      color: #4C00C7;
    }
    