

@media screen and (min-width: 365px) and (max-width: 750px)
{
  Mensagem.topo{
    width: 100%;
  }
    header{
      width: 100%;
    }
  .img-container img{
    min-width: 93%;
    max-width: 100%;
  }
  .Nave{
    grid-gap: 0 15px
  }
}

@media screen and (min-width: 1024px){
          header .material-symbols-outlined{
    font-size: 16px;
  } 
      .container{
        display:grid;
        justify-content: center;
        grid-template-columns:800px 400px;
        grid-template-rows:500px 100px;
        grid-auto-rows: 400px;
        grid-gap:10px 0;
        background: #00000010;
      }
      .Container2, .card-form, .Box-list{
        padding: 0px 30px;
      }

  .Container2{
    display:flex;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  .img-container{
    
    width: 250px;
    max-width: 500px;
    height: 200px;
    position: relative;
    bottom: 80px;
    padding: 20px;
  }
  .card-form{
    
    grid-column: 2;
    grid-row: 1/4;
  }
  .pagamento{
    display: block;
  }
  

  .img-container::after, .img-container::before{
    display: none;
  }
  .img-container img{
    width: 100%;
    height: 100%;
  }
  .Button{
    display: none;
  }

  #produto{
    display: none;
  }
  #Slide{
    width: 100%;
  }
  .Box-list{
    
    grid-column: 1;
    grid-row: 2/5;
  }
  .Tabela{
    width: 100%;
    height: 80%;
  }
  .Tabela h2{
    font-size: 18px;
    font-weight: 800;
  }
  .Tabela ul li{
    font-size: 16px;
  }
  /*corpo*/
  .footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  .footer p{
    font-size: 16px;
    width: 100%;
    max-width: 400px;
  }
  .Link-footer svg{
    width: 35px;
  }
  #instagram{
  width: 25px;
}
  .Nave{
    grid-template-columns: repeat(3, 250px);
    margin:0;
  }
  .Link-footer {
    margin:10px;
  }
  .Lista-footer ul a{
    font-size: 13px;
    text-indent: 0;
  }
  
}
