


@media screen and (min-width: 365px) and (max-width: 575px){
  header .material-symbols-outlined{
    font-size: 15px;
  } 
  header nav{
    width: 130px;
    max-width: 160px;
  }
  
  .catalogo-1{
    grid-template-columns: repeat(2, 250px);
  }
}

@media screen and (min-width: 765px) and (max-width: 1224px){
    header .material-symbols-outlined{
    font-size: 16px;
  } 
  .catalogo-1{
    grid-template-columns: repeat(3, 300px);
  }
  
  /*corpo*/
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    padding: 20px;
  }
  .footer p{
    font-size: 14px;
    width: 100%;
    max-width: 400px;
  }
  .Nave{
    grid-template-columns: repeat(3, 150px);
    margin:0;
  }
  .Link-footer {
    margin:10px;
  }
  .Lista-footer ul a{
    font-size: 13px;
    text-indent: 0;
  }
  
}
