@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');  

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto';  
}

body{
  width: 100vw;
  min-height: 100vh;
  background:url('../images/background.jpg') center center/cover fixed;
  color: white;
}
header{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  backdrop-filter: blur(10px);
  padding: 25px;
  padding-bottom: 40px;
  margin-bottom:75px;
}
header img{
  width:66px;
  border-radius: 13px;
}

header nav a{
  text-decoration: none;
  color: white;
  font-weight:500;
  font-size: 14px;
  padding:8px 20px;
  margin-left: 5px;
  
  border-radius: 7px;
  
}
#login-menu{
  background: rgba(65, 21, 98, 1);
  font-weight: 700;
  border-style: none;
}
#login-menu:hover{
  background: rgba(162, 54, 201, 0.79);
  transition: 1s;
}
/* HEADER ACIMA */


main{
  
}
.catalogo-1 {
  display: grid;
  justify-content:center;
  align-items: center;
  grid-template-columns: repeat(2, 270px);
  gris-auto-columns:270px;
  grid-auto-rows: 200px;
  grid-auto-flow: row;
  grid-gap: 45px 20px;
  padding: 20px;
  margin-bottom: 120px;
  background:transparent;
}
.catalogo-1 a{
  text-decoration: none;
}
#item {
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
  color: white;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  padding:7px;
}
#item:hover{
  border:2px solid rgba(162, 55, 255, 1);
  transition: 0.5s;
  transform: scale(1.05);
}


#item h2{
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: 500;
  padding-bottom: 7px;
}
#item p{
  font-family: 'Open sans';
  font-size: 12px;
  font-weight: 600;
}
#item img{
  display: block;
   width: 100%;
   height: 150px;
   border-radius: 13px;
   margin-bottom: 8px;
   position: relative;
}

/*Corpo Acima terminando */

footer{
  background-color:transparent;
  backdrop-filter: blur(10px);
  padding: 17px;
  color: #BDBDBE;
}

.footer img{
  width: 90px;
  border-radius: 15px;
  margin-bottom:20px;
}
.footer p{
  margin:10px 0px 10px 0px;
  font-weight: 400;
}

footer span{
  font-size: 12px;
}


.Lista-footer{
  margin: 20px;
  
}
.Lista-footer h3{
  font-size: 15px;
  font-weight: 400;
  color: #FFFFFF;
}
.Nave{
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-auto-rows: 100px;
   gap: 0 40px;
   margin-top: 30px;
   margin-bottom: 30px;
}
.Lista-footer ul{
  margin-top: 8px;
}
.Lista-footer ul a{
  list-style-type: none;
  text-decoration: none;
  color: #BDBDBE;
  font-weight: 300;
  text-indent: 20px;
  font-size: 13px;
}

#finalspan{
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #FFFFFFD6;
}