

.container {
  width: 100%;
  margin: auto;
}
h1, h2, p{
  font-weight: 400;
}
hr{
  width: 100%;
  margin: 10px 0 10px;
  
}
h1{
  font-size: 23px;
  margin: 10px;
}
h2{
  font-size: 20px;
  color: #790CFF;
  margin-top: 30px;
  text-shadow: 1px 2px 4px #3E065C;
}
strong{
  color: #C10000;
}
#warn{
  background: #B5B5B517;
  border-radius: 10px;
  padding: 10px;
}
.container p{
  margin: 0.5cm 0 1.5cm;
  text-align: justify;
  font-size: 13px;
}
.container-back{
  padding: 10px;
  margin-bottom: 3cm;
}
.container-back p{
  padding: 7px;
  font-size: 14px;
}
.desktop{
  display: none;
}
    #login-desktop{
    background: linear-gradient(to right, 
    #910eff,
    #a942ff,
    #910eff);
    color: white;
    padding: 14px 20px;
    margin-right: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
  }
    .car-top, #login-desktop, .button-main{
    font-size: 14px;
    padding: 14px 15px;
  }
  .car-top i{
    margin-right: 5px;
  }

    .button-main #star{
    font-size: 16px;
    color: #FEB901;
    margin-right: 5px;
  }
  .button-main:hover{
    background-color: #9e9e9e2c;
  border: 1px solid #9e9e9e73;
  }
  
  .button-main{
    background: transparent;
    border: 1px solid #9e9e9e43;
  }
@media (min-width:768px){
  h2{
    font-size: 20px;
  }
  
  .desktop{
    display: block;
  }
  .navbar{
    display: none;
  }

  /*corpo*/
  
  
  
    .footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  .footer p{
    font-size: 16px;
    width: 100%;
    max-width: 400px;
  }
  .Link-footer svg{
    width: 35px;
  }
  #instagram{
  width: 25px;
}
  .Nave{
    grid-template-columns: repeat(3, 120px);
    margin:0;
  }
  .Link-footer {
    margin:10px;
  }
  .Lista-footer ul a{
    font-size: 13px;
    text-indent: 0;
  }
  
}
      